/**
 * @Author: Mingrui Liu
 * @Date: 2021/9/2 19:27
 */

.login-page {
    display: flex;
    justify-content: center;
}

.login-panel {
    width: 33.3%;
    margin-top: 10%;
}

.login-panel-heading {
    padding: 10px;
}

.login-form {
    padding: 10px;
}

.MuiButton-containedPrimary {
    background-color: #1890ff !important;
}