/**
 * @Author: Mingrui Liu
 * @Date: 2021/9/2 19:27
 */

.side-nav {
    overflow: auto;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 1;
}

.site-layout-background-header {
    padding: 0;
    background: #fff;
    position: fixed;
    width: 100%;
}

.site-layout-background-content {
    min-height: 500px;
    padding: 24px;
    overflow: initial;
    transition: all 0.2s;
}

/*set icon align center when collapse*/
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item {
    display: flex;
    align-items: center;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.trigger,
.account {
    padding: 0 24px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

/*menu collapse*/
.trigger {
    font-size: 18px;
    margin-left: 200px;
    transition: all 0.2s;
}

/*login*/
.account {
    display: flex;
    margin-left: auto;
}

.account-icon {
    margin: auto;
}

.trigger:hover,
.account:hover {
    color: #1890ff;
}

/*dropdown menu*/
.ant-dropdown {
    min-width: 160px !important;
}

.ant-dropdown-menu {
    border-radius: 4px;
}

.ant-dropdown-menu-title-content {
    text-align: center;
    font-size: 15px;
    display: flex;
    margin: auto;
    justify-content: center;
}

.ant-dropdown-menu-title-content > a > span {
    margin-right: 10px;
}

.MuiButton-textPrimary {
    color: #1890ff !important;
}

.MuiButton-outlinedPrimary {
    color: #1890ff !important;
    border: 1px solid #1890ff !important;
}
