/**
 * @Author: Mingrui Liu
 * @Date: 2021/7/23 10:43
 */

/*set icon align center when collapse*/
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item {
    display: flex;
}

.trigger,
.account {
    padding: 0 24px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

/*menu collapse*/
.trigger {
    font-size: 18px;
    margin-left: 200px;
}

/*dropdown menu*/
.login-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*login*/
.account {
    display: flex;
    margin-left: auto;
}

.account-icon {
    margin: auto;
}

.trigger:hover,
.account:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout {
    min-width: 900px;
}
.site-layout-background {
    background: #fff;
    min-height: 280px;
    padding: 24px;
}

