/**
 * @Author: Mingrui Liu
 * @Date: 2021/7/23 10:43
 */

.side-nav {
    overflow: auto;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 1;
}

/*set icon align center when collapse*/
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item {
    display: flex;
    align-items: center;
}

.trigger,
.account {
    padding: 0 24px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

/*menu collapse*/
.trigger {
    font-size: 18px;
    margin-left: 200px;
    transition: all 0.2s;
}

/*dropdown menu*/
.login-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*login*/
.account {
    display: flex;
    margin-left: auto;
}

.account-icon {
    margin: auto;
}

.trigger:hover,
.account:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout-background-header {
    padding: 0;
    background: #fff;
    position: fixed;
    right: 0;
    left: 0;
}

.site-layout-background-content {
    background: #fff;
    min-height: 500px;
    padding: 24px;
    overflow: initial;
    transition: all 0.2s;
}

