/**
 * @Author: Mingrui Liu
 * @Date: 09/14/21 10:13 PM
 */

.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-img {
    width: 456px;
    margin: 15px;
}

.error-text {
    font-size: 25px;
}