body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiButton-textPrimary {
  color: #1890ff !important;
}

.MuiButton-outlinedPrimary {
  color: #1890ff !important;
  border: 1px solid #1890ff !important;
}